@font-face {
  font-family: 'Urban Starblues'; /* set name */
  src: url(../assets/Urban\ Starblues\ Demo.otf); /* url of the font */
}
@font-face {
  font-family: 'Death Subway'; /* set name */
  src: url(../assets/DeathSubway-Regular.ttf); /* url of the font */
}
body {
    background-color: #f0f0f0;
    background-image: url(../assets/bg-stars.png);
    background-size: 50px;
}
.headerbg {
    background-image: url(../assets/nicki-mugshot.jpg);
    background-size: 150px;
    border:1px solid black;
    width: 85vw;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.titletext {
    margin-top: -30px;
    margin-right: 10vw;
    font-family: 'Urban Starblues';
    font-size: 72px;
    text-align: right;
    line-height: 0.6;
    text-shadow: 0 0 24px #ffffff;
    color:black;
    letter-spacing: 4px;
}
.nav {
    background-color: #c6c6c6;
    border:1px solid black;
    width: 85vw;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    display: flex;
    justify-content: center;
}
.nav a {
    background-color: #ebebeb;
    border:1px solid black;
    margin: 5px 6px;
    width: 15vw;
    height:40px;
    font-family: 'Death Subway';
    font-size:15px;
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
}
.nav a:hover {
    color: gray;
}
.main {
    background-color: #c6c6c6;
    border:1px solid black;
    width: 85vw;
    height:68.5vh;
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
}
.main h1 {
    font-family: 'Urban Starblues';
    font-size: 60px;
    letter-spacing: 8px;
    text-align: left;
    line-height: 0.6;
    color: black;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white, 0 0 12px black;
}
.main p {
    font-family: monospace;
    font-size: 20px;
    margin:0 50px;
    text-indent:50px;
    word-break: normal;
}